@use "../_abstarcts/colors"

.content-wrapper
  padding: 0 100px

  .videos
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 20px

    .video
      width: 200px
      min-height: 300px
      border-radius: 20px
      padding: 30px 20px
      justify-self: center
      background-color: #fff
      border: 1px solid darkgrey
      cursor: pointer

      &:hover
        transition: .2s
        transform: scale(1.05)

      .video-poster
        display: flex
        align-items: center
        width: 100%
        height: 100px
        overflow: hidden

        img
          width: 100%
          height: auto

      .video-description
        margin-top: 20px
        padding-top: 20px
        border-top: 1px solid darkgrey
        font-size: 18px

  .no-video
    font-size: 24px

  .add-video
    display: flex
    justify-content: flex-end
    margin-top: 40px

    button

      a
        color: colors.$extra_red